@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");

:root {
  --color-primary: #60d7e2;
  --color-secondary: #c5f663;
  --color-back-light2D: #2d2d2d;
  --color-gray-lightEC: #ecf1f3;
}
body {
  font-weight: 500;
  font-size: 16px;
  font-family: "Euclid Circular A", sans-serif;
  line-height: 19.2px;
  color: var(--color-back-light2D);
  background-color: var(--color-gray-lightEC);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* header */
header {
  background-color: white;
}
.header-inner {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner__regis {
  display: flex;
  gap: 15px;
}
.header-inner__regis--text {
  color: var(--color-back-light2D);
}
.header-inner__btn-dl {
  padding: 15px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
}
.header-inner__burger {
  display: none;
}
.nav-responsive {
  display: none;
}
/* banner */
.banner {
  padding: 10px 20px;
}
.banner-inner {
  background-color: white;
  padding-top: 191px;
  padding-bottom: 192px;
  text-align: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.banner-inner::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}
.banner__text {
  position: relative;
  z-index: 2;
}
.banner__text--primary {
  margin-inline: auto;
  margin-top: 10px;
  font-size: 112px;
  line-height: 112px;
  max-width: 752px;
}
.banner__text--desc {
  margin-inline: auto;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  max-width: 408px;
}
.banner__turquoise--blue {
  position: absolute;
  width: 271.85px;
  height: 301.21px;
  left: -79px;
  top: 97px;
  z-index: 0;
  background: #60d7e2;
  transform: matrix(0.79, -0.61, 0.6, 0.8, 0, 0);
}

.banner__turquoise--sulu {
  position: absolute;
  width: 550.61px;
  height: 610.07px;
  left: 800px;
  top: 20px;
  /* top: 308.72px; */
  background: #c5f663;
  transform: matrix(0.79, -0.61, 0.6, 0.8, 0, 0);
  z-index: 0;
}
.banner__avt {
  z-index: 1;
}
.banner__avt--1 {
  position: absolute;
  top: 45px;
  left: 104px;
}
.banner__avt--2 {
  position: absolute;
  bottom: 101px;
  left: 206px;
}
.banner__avt--3 {
  position: absolute;
  right: 116px;
  bottom: 111px;
}
.banner__download {
  position: relative;
  width: fit-content;
  display: flex;
  margin-top: -83px;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}
.banner__download--text {
  margin-right: 10px;
  max-width: 313px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}
.banner__download--left {
  background-color: var(--color-primary);
  padding-inline: 30px;
  padding-block: 50px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.banner__download--media {
  display: flex;
  gap: 10px;
}
.banner__download--app {
  background-color: white;
  padding: 15px 25px;
  border-radius: 5px;
}
.banner__download--qr {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slider */
.slider {
  margin-top: 130px;
  margin-bottom: 50px;
}
.slider-title {
  font-size: 52px;
  line-height: 57.2px;
  text-align: center;
}

/* slider */

.mySwiper .swiper-wrapper .swiper-slide {
  width: 98px !important;
  height: 98px !important;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper {
  overflow-x: auto;
}
.mySwiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper .swiper-button-lock {
  display: block;
}

.mySwiper.swiper {
  /* width: 95%; */
  /* height: 300px; */
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 20px;
  margin-top: 50px;
  display: flex;
}

/*  */

/* .mySwiper2 {
  height: 80%;
  width: 100%;
} */

.mySwiper .swiper-slide {
  /* width: 25%;
  height: 100%; */
  /* opacity: 0.4; */
  border: 2px solid transparent;
  background-color: white;
  border-radius: 5px;
}

.mySwiper .swiper-slide-thumb-active {
  border: 2px solid var(--color-primary);
}
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-button-next:after {
  content: "" !important;
}
.swiper-button-prev:after {
  content: "" !important;
}
.swiper__nav {
  margin-left: 10px;
}
.swiper-button-prev,
.swiper-button-next {
  position: relative !important;
  background-color: white;
  padding: 5px 43px;
  inset: 0 !important;
  margin-top: 4px !important;
  border-radius: 5px;
}

/* .swiper-wrapper1 {
  width: 100% !important;
}

.swiper-wrapper1 .swiper-slide {
  width: 33.33% !important;
} */
.mySwiper .swiper-wrapper {
  overflow-x: auto;
}
.swiper-wrapper__nav {
  display: flex;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  width: 24% !important;
}
.swiper-slide.swiper-slide-active {
  width: 49% !important;
}

.swipper-slide__block {
  padding: 20px 50px 50px 50px;
  background-color: white;
  border-radius: 5px;
}
.swiper-slide.swiper-slide-active .swipper-slide__block {
  padding: 20px 130px 50px 130px;
}
.swiper-slide__img {
  width: 235px;
  height: 236px;
  object-fit: cover;
  position: relative;
  margin: 0 auto;
}
.swiper-slide.swiper-slide-active .swiper-slide__img {
  width: 429px;
  height: 409px;
}
.swiper-slide .swiper-slide__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swipper-slide__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin-top: 50px;
}
.swiper-slide__discount {
  padding: 6px;
  /* background-color: white; */
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(40%) translateX(6%);
}
.swiper-slide__discount-inner {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(30%) translateY(43%);
}
/* .swiper-slide__rectangle {
  width: 50px;
  height: 100px;
} */
/* .swiper-slide__discount-inner::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
} */
/* .swiper-slide__discount-inner::before {
} */
.swiper-slide__code {
  font-size: 13px;
  line-height: 13px;
}
.swiper-slide__amount {
  font-size: 28px;
  line-height: 33.6px;
  text-align: center;
}
.swiper__nav--responsive {
  display: none;
}

/* responsive */
@media only screen and (max-width: 1401px) {
  .swipper-slide__block {
    padding: 15px 20px 30px 20px;
  }
  .swiper-slide.swiper-slide-active .swipper-slide__block {
    padding: 15px 45px 45px 50px;
  }
}

@media only screen and (max-width: 1201px) {
  /* banner */

  .banner__avt--2 {
    bottom: 101px;
    left: 100px;
  }
  .banner__avt--3 {
    right: 80px;
    bottom: 111px;
  }
  /* slider */
  .swipper-slide__block {
    padding: 15px 20px 40px 20px;
  }
  .swiper-slide.swiper-slide-active .swipper-slide__block {
    padding: 15px 35px 60px 35px;
  }
  .swiper-slide__img {
    width: 200px;
    height: 210px;
  }
  .swiper-slide.swiper-slide-active .swiper-slide__img {
    width: 400px;
    height: 380px;
  }
  .swipper-slide__text {
    font-size: 16px;
  }
  .swiper-slide__rectangle {
    width: 150px !important;
    height: 50px !important;
  }
  .swiper-slide__discount-inner {
    transform: translateX(26%) translateY(15%);
  }
  .swiper-slide__code {
    font-size: 11px;
    line-height: 13px;
  }
  .swiper-slide__amount {
    font-size: 20px;
  }
  .slider {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 1025px) {
  /* header */
  .header-inner__logo img {
    width: 300px;
  }
  .header-inner__btn-dl {
    padding: 10px;
  }
  /* banner */
  .banner__text--primary {
    font-size: 70px;
    line-height: 70px;
  }
  .banner__avt--1 {
    left: 30px;
  }
  .banner__avt--2 {
    left: 50px;
  }
  .banner__avt--3 {
    right: 40px;
  }
  .banner__avt--3 .banner__avt--img {
    width: 180px;
    height: 180px;
  }
  .banner__download--left {
    padding-block: 30px;
    padding-right: 15px;
  }
  .banner__download--right {
    display: none;
  }
  /* slider */
  .swipper-slide__block {
    padding: 15px 5px 30px 5px;
  }
  .swiper-slide.swiper-slide-active .swipper-slide__block {
    padding: 15px 15px 50px 15px;
  }
  .swiper-slide__img {
    width: 130px;
    height: 140px;
  }
  .swiper-slide.swiper-slide-active .swiper-slide__img {
    width: 260px;
    height: 240px;
  }
  .swipper-slide__text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 769px) {
  /* header */
  .header-inner__logo img {
    width: 250px;
  }
  /* .header-inner__btn-dl {
    display: none;
  } */
  .header-inner__regis {
    display: none;
  }
  /* .header-inner__burger {
    cursor: pointer;
    display: block;
  } */
  /* banner */
  .banner-inner {
    padding-top: 160px;
  }
  .banner__avt--1 .banner__avt--img {
    width: 100px;
    height: 100px;
  }
  .banner__avt--2 .banner__avt--img {
    width: 100px;
    height: 100px;
  }
  .banner__avt--3 .banner__avt--img {
    width: 140px;
    height: 140px;
  }
  .banner__download {
    margin-top: 10px;
  }
  .banner__download--left {
    padding-block: 20px;
    padding-right: 10px;
  }
  .banner__download--text {
    font-size: 16px;
  }
  .banner__download--media {
    flex-direction: column;
  }
  .banner__download--app {
    padding: 10px 15px;
  }
  /* slider */
  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    width: 100% !important;
  }
  .swiper-slide.swiper-slide-active {
    width: 100% !important;
  }
  .swiper-slide__img {
    width: 340px;
    height: 320px;
  }
  .swiper-slide.swiper-slide-active .swiper-slide__img {
    width: 340px;
    height: 320px;
  }
  .swipper-slide__text {
    font-size: 18px;
  }
  .swiper-wrapper__nav {
    display: none;
  }
  .slider-title {
    margin-bottom: 30px;
  }
  .swiper__nav--responsive {
    margin-top: 10px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-block: 10px;
  }
}
@media only screen and (max-width: 577px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* header */
  .header-inner__burger {
    cursor: pointer;
    display: block;
  }
  .header-inner__btn-dl {
    display: none;
  }
  .nav-responsive {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--color-primary);
    z-index: 50;
    inset: 0;
    padding: 26px 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .nav-responsive.active {
    transform: translateX(0%);
  }
  .nav-responsive__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-responsive__menu {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .nav-responsive__menu-item {
    font-weight: 400px;
    font-size: 28px;
    line-height: 28.2px;
  }
  .nav-responsive__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
  .nav-responsive__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    padding: 15px 20px;
    height: fit-content;
    outline: none;
    border-radius: 5px;
    border: 2px solid white;
    background-color: white;
  }
  .nav-responsive__button--dl {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-responsive__button--dl span {
    margin-right: 5px;
  }
  .nav-responsive__button--regis {
    background-color: #60d7e2;
  }
  .nav-responsive__close {
    cursor: pointer;
  }
  /* banner */
  .banner {
    padding: 10px;
  }

  .banner__avt--1 {
    display: none;
  }
  .banner__avt--2 {
    left: 8px;
    bottom: 18px;
  }
  .banner__avt--3 {
    right: 0;
    bottom: 0;
    transform: translate(15%, 15%);
  }
  .banner__avt--2 .banner__avt--img {
    width: 70px;
    height: 70px;
  }
  .banner__avt--3 .banner__avt--img {
    width: 90px;
    height: 90px;
  }
  .banner__download--left {
    flex-direction: column;
    padding: 20px 10px 20px 10px;
  }
  .banner__download--media {
    flex-direction: row;
    margin-top: 20px;
  }
  .banner__text--primary {
    font-size: 34px;
    line-height: 36px;
  }
  .banner__text--desc {
    font-size: 16px;
    line-height: 17.6px;
    max-width: 260px;
  }
  .banner__text--title {
    font-size: 13px;
  }
  .banner-inner {
    padding-top: 50px;
    padding-bottom: 84px;
  }

  .banner__text--desc {
    font-size: 16px;
    line-height: 16px;
  }

  /* slider */
  .slider-title {
    font-size: 28px;
    /* margin-top: 70px;
    margin-bottom: 30px; */
    line-height: 30.8px;
  }
  .swiper-slide__img {
    width: 240px;
    height: 220px;
  }
  .swiper-slide.swiper-slide-active .swiper-slide__img {
    width: 240px;
    height: 220px;
  }
}
@media only screen and (max-width: 321px) {
  .nav-responsive__menu {
    gap: 20px;
  }
  .nav-responsive__menu-item {
    font-weight: 400px;
    font-size: 22px;
    line-height: 24.2px;
  }
  /* .nav-responsive__footer {
    flex-direction: column;
    gap: 10px;
  } */
}
